EXPO_PUBLIC_APP_ENV=development
GITHUB_TOKEN=ghp_seu_token_aqui
AI_GROQ_TOKEN=seu_token
AI_CLOUDFLARE_TOKEN=seu_token
AI_CLOUDFLARE_ACCOUNT_ID=accountID
CLOUDFLARE_TURNSTILE_SECRET_KEY=example
EXPO_PUBLIC_TURNSTILE_SITE_KEY=example